<div class="vh-80 vw-100 pt-4 pb-4" style="margin-top: 4%">
  <div
    class="w-100 h-100 container bg-dark text-white p-5"
    style="border-radius: 10px"
  >
    <div class="row">
      <div class="col-md-6 mt-2 mb-5" >
        <h1>Video and Voice meetings for everyone.</h1>
        <h3 class="mt-4">
          The aim of this project to show the capablities meeting collaboration.
        </h3>
        <p class="mt-4">
          <a style="color: #20a8d8">Mirror Interactive Discussion</a>
          is a cloud-based video conferencing service you can use to virtually
          meet with others - either by video or audio-only or both enabling
          audio and video real-time communications based on Agora SD-RTN™ and
          implementing scenarios such as voice-only calls, video call,
          voice-only interactive broadcast, and video interactive broadcast.
        </p>

        <a class="btn btn-success mt-4" [routerLink]="['/preview']">
          New Meeting
        </a>
      </div>
      <div class="col-md-6 mt-5 mb-5">
        <img src="assets/images/meeting.jpg" style="width: 100%" />
      </div>
    </div>
  </div>
</div>
