<!-- <div class="container-fluid h-100" style="background-color: white">
  <div class="row h-100">
    <div class="col-lg-6 col-md">
      <div style="margin-left: 15%; margin-right: 15%" class="mt-5">
        <div class="text-center mb-3">
          <img src="/assets/logo.png" style="width: 50px" alt="logo" />
          <h1 class="mt-1">Sign Up</h1>
          <span
            >Already have an account?
            <a routerLink="/login-form" style="text-decoration: none"
              >Sign in</a
            ></span
          >
        </div>

        <form class="example-form">
        

          <div>
            <mat-form-field
              appearance="outline"
              class="example-full-width"
              appearance="outline"
            >
              <mat-label>Email address *</mat-label>
              <input matInput placeholder="Enter your email" #userEmail />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field
              appearance="outline"
              class="example-full-width"
              appearance="outline"
            >
              <mat-label>Password *</mat-label>
              <input
                matInput
                placeholder="Enter your password"
                type="password"
                #userPwd
              />
            </mat-form-field>
          </div>

        

          <div>
            <mat-checkbox
              >I agree to the
              <a routerLink="" style="text-decoration: none; text-align: end">
                Terms of Service </a
              >and
              <a routerLink="" style="text-decoration: none; text-align: end"
                >Privacy Policy</a
              >
            </mat-checkbox>
          </div>

          <div class="text-center mb-4 mt-3">
            <button
              mat-raised-button
              color="primary"
              class="w-100 rounded-pill"
              (click)="authService.SignUp(userEmail.value, userPwd.value)"
            >
              Continue your Free Account
            </button>
          </div>
        </form>
      </div>
    </div>

    <div
    class="col-lg-6  "
    style="background-color: #1e293b"
  >
    <div class="text-white p-5 mx-md-4"  style="margin-top: 100px;">
      <h1
        class="mb-4"
        style="font-weight: bolder; font-size: 50px; line-height: 50px"
      >
        Welcome To <br />
        Our Community
      </h1>
      <p
        class="small mb-0"
        class="mt-6 text-lg tracking-tight leading-6 text-gray-400 ng-tns-c185-31"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        doloribus.
      </p>
    </div>
    <div>
      <img src='../../../../assets/img/undraw/register.svg' style="width: 60%;margin-left: 70px;">
    </div>
   
  </div>
  </div>
</div> -->
<section style="background-color: #aad3d594">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="card" style="border-radius: 3rem">
          <div class="row g-0 py-1" style="padding-left: 18px">
            <div
              class="col-5"
              style="
                border-radius: 3rem 0 0 3rem;
                background-color: #aad3d5df;
                color: white;
              "
            >
              <h1 class="display-5 ls-tight mt-5" style="font-weight: 500">
                Mirror Interactive Discussion<br />
                <span style="font-weight: 400">Connects Virtually</span>
              </h1>
              <p
                class="mb-4 opacity-70 p-2"
                style="
                  letter-spacing: 1.5px;
                  line-height: 20px;
                  font-weight: 400;
                "
              >
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Temporibus, expedita iusto veniam atque, magni tempora mollitia
                dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                ab ipsum nisi dolorem modi. Quos?
              </p>
              <img
                src="assets/images/login_undraw.svg"
                width="80%"
                style="position: absolute; left: 8%; margin-top: 60px"
                alt="logo"
              />
            </div>
            <div
              class="col-7 d-flex align-items-center pr-0"
              style="background-color: #aad3d5df; border-radius: 0 3rem 3rem 0"
            >
              <div
                class="card-body p-4 p-lg-5 text-black border-0"
                style="border-radius: 3rem; background: white"
              >
                <div class="text-center mb-3">
                  <img
                    src="assets/images/logo.png"
                    style="width: 50px"
                    alt="logo"
                  />
                  <h1 class="mt-1">Sign up</h1>
                  <span
                    >Already have an account?
                    <a routerLink="/login-form" style="text-decoration: none"
                      >Sign in</a
                    ></span
                  >
                </div>

                <form class="example-form">
                  <div>
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Email address *</mat-label>
                      <input
                        matInput
                        placeholder="Enter your email"
                        type="email"
                        #userEmail
                      />
                    </mat-form-field>
                  </div>

                  <div class="mb-4">
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Password *</mat-label>
                      <input
                        matInput
                        placeholder="Enter your password"
                        type="password"
                        #userPwd
                      />
                      <mat-icon matSuffix style="cursor: pointer"
                        >remove_red_eye</mat-icon
                      >
                    </mat-form-field>
                  </div>

                  <div class="row mb-4">
                    <mat-checkbox class="col">Remember me</mat-checkbox>
                  
                  </div>

                  <div class="text-center mb-4">
                    <button
                      mat-raised-button
                      class="w-100 rounded-pill p-2"
                      style="
                        background-color: #aad3d5df;
                        color: white;
                        font-size: 20px;
                      "
                      (click)="
                        authService.SignUp(userEmail.value, userPwd.value)
                      "
                    >
                      Continue Your Free Account
                    </button>
                  </div>
                </form>

                <div class="container mb-4">
                  <div class="line"><mat-divider></mat-divider></div>
                  <div class="text mat-typography">Or Continue with</div>
                  <div class="line"><mat-divider></mat-divider></div>
                </div>

                <div class="row mb-3">
                  <button
                    class="bi bi-github col rounded-pill btn btn-outline-secondary"
                  ></button>
                  <button
                    class="bi bi-google col rounded-pill btn btn-outline-secondary"
                    (click)="authService.googleSignin()"
                  ></button>
                  <button
                    class="bi bi-facebook col rounded-pill btn btn-outline-secondary"
                    (click)="authService.facebookAuth()"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
